# Smart Loans

Nowadays, individuals and small businesses take out loans for many reasons. Most studies were done on the bank side, with existing data, scientists build models and predict the risk associated with each loan, but rarely people stand on the borrower’s side and help them save the interests they don’t have to pay. When taking out loans, we usually just tell the bank or the lending company the amount of money we need, and they provided an interest rate plan that we can either leave or take. Most borrowers don’t understand the fanatical value behind the features of a loan such as term, and effect of the loan amount, and this could result user paying more interest than they need. Here I used the loan data over the past 8 years from the Leading Club (a peer to peer lending company), I will run regression, classification and feature engineering to understand the basic mechanism with interest rate assignment. By selecting the relevant features to understand how interest rates are assigned, I will develop a recommendation program that help borrower save on interest. On the Investor's side I would use machine learning to predict wather a loan will be paid off based on the loan features. This will be a good way to minimize the loss on the investor's side while.

In [1]:
import pandas as pd
import numpy as np
import os
import imageio
import datetime
import time
import sqlite3
import operator
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, accuracy_score, recall_score, f1_score, roc_auc_score
from sklearn.metrics import roc_curve, auc
from datetime import timedelta, datetime

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import make_scorer, roc_auc_score, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
import seaborn as sns
from scipy import stats
import math
% matplotlib inline
# Always make it pretty.
plt.style.use('ggplot')

## Data Exploration

In [3]:
loan = pd.read_csv('loan.csv')
loanT = pd.DataFrame.copy(loan)

/Volumes/Data/Anaconda/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
def Data_clean(loan):
    loan_useless = ['id', 'member_id','url', 'desc', 'verification_status']
    loan.drop(loan_useless,axis=1,inplace = True)
    loan['earliest_cr_line'] = pd.to_datetime(loan['earliest_cr_line'])
    loan['issue_d'] = pd.to_datetime(loan['issue_d'])
    loan['last_pymnt_d'] = pd.to_datetime(loan['last_pymnt_d'])
    loan['next_pymnt_d'] = pd.to_datetime(loan['next_pymnt_d'])
    loan['last_credit_pull_d'] = pd.to_datetime(loan['last_credit_pull_d'])
    loan['dti_new'] = np.where(loan['application_type']=='JOINT', loan['dti_joint'],loan['dti'])
    loan['annual_inc'] = np.where(loan['application_type']=='JOINT', loan['annual_inc_joint'],loan['annual_inc'])
    loan_col = loan.columns.values
    loan_na = loan.isnull().sum()/len(loan)
    loan['log_annual_inc'] = loan['annual_inc'].apply([lambda x: math.log(x)])
    loan['log_int_rate']= loan['int_rate'].apply([lambda x: math.log(x)])
    loan['log_tot_cur_bal']= loan['tot_cur_bal'].apply([lambda x: math.log(x+1)])
    loan.loc[loan['home_ownership'] =='ANY','home_ownership']  ='OTHER'
    loan.loc[loan['home_ownership'] =='NONE','home_ownership']  ='OTHER'
    from datetime import timedelta, datetime
    today = datetime.now()
    loan['cre_len']=loan['earliest_cr_line'].apply(lambda x: (today - x).days)
    for i in range(len(loan_na)):
        if loan_na[i]>=0.8:
            #print(loan_na[i], loan_col[i],i)
            loan.drop(loan_col[i], axis = 1, inplace = True)

    for i in loan.columns.values:
        #print(i)
        if loan[i].dtypes == object or loan[i].dtypes == 'datetime64[ns]':
            loan_group = loan.groupby('term').size()
            maj = loan_group[loan_group == loan_group.max()].index[0]
            loan[i].fillna(maj, inplace = True);
        else:
            loan[i].fillna(loan[i].mean(skipna = True), inplace = True);
    return loan

In [18]:
def int_rate_plot(int_rate):
    
    #The distribution of the int_rate looks like the following, it rages from 4 % to 30%
    ax = sns.kdeplot(loan['int_rate'])
    ax.set(xlabel = 'int_rate percentage', ylabel = 'density')
    plt.show()

In [19]:
def corr_heatmap(loan):
    #This function plot the correlation matrix as a heat map
    corr = loan.corr()
    sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

In [20]:
def term_t_test(loan):
    #The function run the t test for term, take the data frame as input and return the pvalue
    int_36 = loan.loc[loan['term']==' 36 months', 'int_rate']
    int_60 = loan.loc[loan['term']==' 60 months', 'int_rate']
    t_test = stats.ttest_ind(int_36,int_60)
    term_plot = sns.boxplot(x='term',y='int_rate',data = loan)
    return t_test.pvalue

In [21]:
def list_stutas_t_test(loan):
    int_f = loan.loc[loan['initial_list_status']=='f', 'int_rate']
    int_w = loan.loc[loan['initial_list_status']=='w', 'int_rate']
    t_test = stats.ttest_ind(int_f,int_w)
    initial_list_plot = sns.boxplot(x='initial_list_status',y='int_rate',data = loan)
    return t_test.pvalue

In [22]:
def plot_fun_facts(loan):
    purpose_plot = sns.boxplot(x='purpose', y='int_rate', data = loan)

In [5]:
Data_clean(loan)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,dti_new,log_annual_inc,log_int_rate,log_tot_cur_bal,cre_len
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,36 months,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,27.65,10.085809,2.365560,11.214634,12137.0
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,Ryder,< 1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,1.00,10.308953,2.725890,11.214634,6934.0
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,36 months,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,8.72,9.413444,2.770086,11.214634,5989.0
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,20.00,10.803649,2.601949,11.214634,8089.0
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,University Medical Group,1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,17.94,11.289782,2.540814,11.214634,8120.0
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,11.20,10.491274,2.066863,11.214634,4893.0
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,Southern Star Photography,8 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,23.51,10.757988,2.770086,11.214634,4651.0
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,MKC Accounting,9 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,5.35,10.778956,2.925310,11.214634,4102.0
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,36 months,4 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,5.55,10.596635,3.057768,11.214634,5107.0
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,Starbucks,< 1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,18.08,9.615805,2.540814,11.214634,4954.0
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,Southwest Rural metro,5 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,16.12,11.184421,2.684440,11.214634,7389.0
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,UCLA,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,10.78,11.225243,2.540814,11.214634,10403.0
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,10.08,10.308953,2.601949,11.214634,5107.0
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,Target,3 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,12.56,9.615805,2.293544,11.214634,5382.0
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,SFMTA,3 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,7.06,11.512925,2.365560,11.214634,9826.0
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,Internal revenue Service,< 1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,20.31,10.239960,2.790551,11.214634,3859.0
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,Chin's Restaurant,4 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,18.60,10.645425,2.725890,11.214634,7116.0
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,Duracell,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,10.52,11.608236,1.796747,11.214634,9003.0
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,Connection Inspection,1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,18.44,11.338572,2.460443,11.214634,5290.0
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,Network Interpreting Service,6 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,9.86,11.256551,1.796747,11.214634,6293.0
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,Archdiocese of Galveston Houston,3 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,26.53,10.677523,2.725890,11.214634,7450.0
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,Osram Sylvania,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,13.22,11.561716,2.519308,11.214634,12837.0
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,Value Air,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,11.18,10.819778,2.460443,11.214634,11956.0
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,Wells Fargo Bank,5 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,16.01,10.819778,2.460443,11.214634,5473.0
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,bmg-educational,1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,2.40,11.238489,2.460443,11.214634,6142.0
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,Winfield Pathology Consultants,2 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,29.44,11.429544,2.293544,11.214634,5897.0
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,nyc transit,9 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,15.22,11.002100,2.658159,11.214634,5290.0
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,Frito Lay,2 years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,13.97,10.819858,2.819592,11.214634,5290.0
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,Shands Hospital at the University of Fl,10+ years,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,5.63,11.571194,2.460443,11.214634,12290.0
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,Oakridge homes,< 1 year,...,INDIVIDUAL,0.0,225.70261,139458.189336,32068.620045,12.19,10.126631,2.460443,11.214634,4163.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,Mission info Tech,2 years,...,INDIVIDUAL,0.0,0.00000,388140.000000,39700.000000,27.24,11.184421,1.944481,12.869124,7330.0
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,Business agent,10+ years,...,INDIVIDUAL,0.0,50.00000,41956.000000,22000.000000,15.72,11.446786,2.614472,10.644401,5716.0
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,supervisor,10+ years,...,INDIVIDUAL,0.0,0.00000,207975.000000,20400.000000,36.93,10.778956,2.771964,12.245178,10099.0
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,Support Scientist II,< 1 year,...,INDIVIDUAL,0.0,0.00000,15724.000000,9700.000000,8.47,11.156251,2.484073,9.663007,4133.0
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,VP of Operations,4 years,...,INDIVIDUAL,0.0,0.00000,33529.000000,26100.000000,15.77,10.950807,2.437116,10.420196,10676.0
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,Operator,10+ years,...,INDIVIDUAL,0.0,0.00000,384500.000000,8500.000000,2.84,11.407565,2.882564,12.859702,6142.0
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,36 months,36 months,...,INDIVIDUAL,0.0,0.00000,41650.000000,129100.000000,18.11,10.896739,2.102914,10.637081,9064.0
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,Assistant Maint Manager,10+ years,...,INDIVIDUAL,0.0,0.00000,48978.000000,65600.000000,31.95,10.819778,2.746630,10.799147,8516.0
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,Field Supervisor,10+ years,...,INDIVIDUAL,0.0,0.00000,40164.000000,10200.000000,11.28,10.858999,2.882564,10.600751,5747.0
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,Owner,3 years,...,INDIVIDUAL,0.0,0.00000,17275.000000,18700.000000,5.27,11.542484,2.771964,9.757074,5443.0
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,36 months,36 months,...,INDIVIDUAL,0.0,0.00000,13860.000000,24400.000000,5.52,10.915088,2.746630,9.536834,5443.0
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,Business Manager,10+ years,...,INDIVIDUAL,0.0,0.00000,115511.000000,118600.000000,29.60,11.429544,2.159869,11.657130,12656.0
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,Director,10+ years,...,INDIVIDUAL,0.0,0.00000,212337.000000,76300.000000,17.09,11.082143,1.796747,12.265935,8577.0
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,Sr. Tech,9 years,...,INDIVIDUAL,0.0,0.00000,211412.000000,7300.000000,17.62,10.819778,2.102914,12.261569,5320.0
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,Bartender,4 years,...,INDIVIDUAL,0.0,0.00000,20671.000000,11900.000000,25.65,10.596635,2.250239,9.936535,4194.0
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,Coordinator of RSVP,< 1 year,...,INDIVIDUAL,0.0,0.00000,24696.000000,41700.000000,13.22,10.896739,1.796747,10.114437,15486.0
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,machining Cell Lead,10+ years,...,INDIVIDUAL,0.0,0.00000,32135.000000,9900.000000,16.80,10.950807,2.660959,10.377732,4163.0
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,Painter,2 years,...,INDIVIDUAL,0.0,0.00000,8357.000000,1800.000000,18.58,10.203592,2.802754,9.030974,2610.0
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,Area Director,1 year,...,INDIVIDUAL,0.0,0.00000,88120.000000,30300.000000,33.66,11.225243,1.870263,11.386466,6599.0
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,Team Leader,8 years,...,INDIVIDUAL,0.0,0.00000,158977.000000,20700.000000,1.00,10.308953,2.707383,11.976521,8730.0
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,Lead Custodian,10+ years,...,INDIVIDUAL,0.0,0.00000,18979.000000,30100.000000,12.63,10.819778,2.159869,9.851141,5685.0
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,Owner,8 years,...,INDIVIDUAL,0.0,3174.00000,18611.000000,14500.000000,25.63,10.596635,2.250239,9.831562,8638.0
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,36 months,36 months,...,INDIVIDUAL,0.0,972.00000,53777.000000,16800.000000,29.44,10.373491,2.956991,10.892620,5777.0
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,KYC Business Analyst,< 1 year,...,INDIVIDUAL,0.0,0.00000,237002.000000,30300.000000,23.69,11.050890,2.484073,12.375828,8334.0
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,Manager,10+ years,...,INDIVIDUAL,0.0,0.00000,19798.000000,28100.000000,27.08,10.142504,2.746630,9.893387,6843.0
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,Office Assistant,8 years,...,INDIVIDUAL,0.0,0.00000,25274.000000,17100.000000,28.69,10.341742,2.484073,10.137571,4954.0
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,Director of Maintenance,10+ years,...,INDIVIDUAL,0.0,0.00000,140285.000000,10200.000000,3.90,11.277203,2.484073,11.851438,16096.0
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,Radiologist Technologist,5 years,...,INDIVIDUAL,0.0,0.00000,34178.000000,18000.000000,30.90,10.463103,2.771964,10.439367,5320.0
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,Painter,1 year,...,INDIVIDUAL,0.0,0.00000,58418.000000,27000.000000,27.19,11.072869,2.995232,10.975396,5290.0
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,Manager Hotel Operations Oasis,10+ years,...,INDIVIDUAL,0.0,0.00000,33307.000000,41700.000000,10.83,11.512925,2.484073,10.413553,5959.0

In [4]:
loan_col = loan.columns.values

In [5]:
loan.shape

(887379, 74)

There are many missing values in this data, I will do some feature engineering to clean up the data set. (Inpute missing data, remove useless column, remove colunms with more than 80% data missing

In [6]:
loan_useless = ['id', 'member_id','url', 'desc', 'verification_status']
loan.drop(loan_useless,axis=1,inplace = True)

In [7]:
loan['earliest_cr_line'] = pd.to_datetime(loan['earliest_cr_line'])
loan['issue_d'] = pd.to_datetime(loan['issue_d'])
loan['last_pymnt_d'] = pd.to_datetime(loan['last_pymnt_d'])
loan['next_pymnt_d'] = pd.to_datetime(loan['next_pymnt_d'])
loan['last_credit_pull_d'] = pd.to_datetime(loan['last_credit_pull_d'])
loan['dti_new'] = np.where(loan['application_type']=='JOINT', loan['dti_joint'],loan['dti'])
loan['annual_inc'] = np.where(loan['application_type']=='JOINT', loan['annual_inc_joint'],loan['annual_inc'])

In [8]:
loan_col = loan.columns.values
loan_na = loan.isnull().sum()/len(loan)
for i in range(len(loan_na)):
    if loan_na[i]>=0.8:
        #print(loan_na[i], loan_col[i],i)
        loan.drop(loan_col[i], axis = 1, inplace = True)

In [9]:
for i in loan.columns.values:
    #print(i)
    if loan[i].dtypes == object or loan[i].dtypes == 'datetime64[ns]':
        loan_group = loan.groupby('term').size()
        maj = loan_group[loan_group == loan_group.max()].index[0]
        loan[i].fillna(maj, inplace = True)
    else:
        loan[i].fillna(loan[i].mean(skipna = True), inplace = True);

In [8]:
'a' < 'b'

True

In [9]:
import sys

if __name__ == "__main__":
    s = input().strip()

thsifjtf

In [13]:
s.split

ValueError: empty separator

In [19]:
s_list = list(s)
s_set = set(s)
Ans = [[i, s_list.count(i)] for i in s_set]
print(Ans.sort(key=lambda x: x[1],reverse=True))

In [15]:
sorted(set([i for i in mylist if mylist.count(i)>2]))

AttributeError: 'str' object has no attribute 'value_count'

In [24]:
Ans.sort(key=lambda x: x[1],reverse=True)

In [25]:
Ans

[['f', 2], ['t', 2], ['h', 1], ['i', 1], ['j', 1], ['s', 1]]